#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Feedly
Exec=/usr/bin/chromium --app=https://feedly.com/i/index
Icon=internet-feed
StartupWMClass=feedly.com__i_index
Categories=GTK;Application;Network
