#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=/usr/bin/chromium --app=https://mail.google.com/mail/u/0
Icon=gmail
StartupWMClass=mail.google.com__mail_u_0
Categories=GTK;Application;Network;
