## Preprocessor
snippet inc
	#include <${1:stdio}.h>
snippet Inc
	#include "${1:`Filename("$1.h")`}"
# Header include guard
snippet once
	#ifndef ${1:`toupper(Filename('$1_H', 'UNTITLED_H'))`}
		#define $1

		${0}
	#endif /* end of include guard: $1 */
## Functions
snippet func
	${1:void} ${2:function_name}(${3:void}) {
		${0}
	}
snippet fund
	${1:void} ${2:function_name}(${3:void});
