[Unit]
Description=MOC server
Documentation=man:mocp(1)
ConditionPathExists=/usr/bin/mocp
After=network.target sound.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/mocp --server
ExecStop=/usr/bin/mocp --exit

[Install]
WantedBy=default.target
