[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Name=Wallpaper
Comment=Restore wallpaper set with feh
Exec=sh ~/.fehbg
OnlyShowIn=OPENBOX;
