[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Name=ob-clock
Comment=A simple clock for openbox' dock
Exec=ob-clock.sh
OnlyShowIn=OPENBOX;
