#!/bin/bash
# Setup environment for X sessions

export GIMP2_DIRECTORY="${XDG_CONFIG_HOME:-${HOME}/.config}/gimp2"
export GTK2_RC_FILES="${XDG_CONFIG_HOME:-${HOME}/.config}/gtk-2.0/gtkrc-2.0"
export QUODLIBET_USERDIR="${XDG_CONFIG_HOME:-${HOME}/.config}/quodlibet"

# Remove missing accessibility bus messages
export NO_AT_BRIDGE=1

# Set terminal for i3
export TERMCMD='st'
export TERMINAL="${TERMCMD}"

# Set correct driver for libva
export LIBVA_DRIVER_NAME='vdpau'
export VDPAU_DRIVER="nouveau"

# Use GTK2+ in Libre Office
export SAL_USE_VCLPLUGIN='gtk'

# Disable GTK3+ overlay scrollbars
export GTK_OVERLAY_SCROLLING=0

# Fix some issues if no DE is used
if [[ -z ${DESKTOP_SESSION} ]]; then
	export DESKTOP_SESSION='gnome'
	export GNOME_DESKTOP_SESSION=1
	export XDG_CURRENT_DESKTOP="LXDE"
fi
