#!/bin/bash
# Setup environment for X sessions

if [[ -d "${XDG_CONFIG_HOME:-${HOME}/.config}/xorg/xprofile.d" ]]; then
	for f in "${XDG_CONFIG_HOME:-${HOME}/.config}/xorg/xprofile.d"/*.sh; do
		if [[ -x "${f}" ]]; then
			source "${f}"
		fi
	done

	unset f
fi
