#!/bin/sh
# Setup environment for X sessions

export GIMP2_DIRECTORY="${XDG_CONFIG_HOME:-${HOME}/.config}/gimp2"
export GTK2_RC_FILES="${XDG_CONFIG_HOME:-${HOME}/.config}/gtk-2.0/gtkrc-2.0"
export QUODLIBET_USERDIR="${XDG_CONFIG_HOME:-${HOME}/.config}/quodlibet"

# Remove missing accessibility bus messages
export NO_AT_BRIDGE=1

# Set terminal for i3
export RXVT_SOCKET="${XDG_RUNTIME_DIR:-/run/user/${UID}}/urxvtd"

if which urxvtcd >/dev/null 2>&1; then
	export TERMINAL='urxvtcd'
else
	export TERMINAL='urxvt'
fi
export TERMCMD="${TERMINAL}"

# Set correct driver for libva
export LIBVA_DRIVER_NAME='vdpau'
export VDPAU_DRIVER="nouveau"

# Use GTK2+ in Libre Office
export SAL_USE_VCLPLUGIN='gtk'

# Disable GTK3+ overlay scrollbars
export GTK_OVERLAY_SCROLLING=0

# Always use the light GTK3+ theme
if [[ -f "${XDG_CONFIG_HOME:-${HOME}/.config}/gtk-3.0/settings.ini" ]]; then
	GTK_THEME="$(grep gtk-theme-name ${XDG_CONFIG_HOME:-${HOME}/.config}/gtk-3.0/settings.ini)"
	export GTK_THEME="$(echo ${GTK_THEME##*=} |tr -d '[[:space:]]'):light"
fi

# Fix some issues if no DE is used
if [[ -z ${DESKTOP_SESSION} ]]; then
	export DESKTOP_SESSION='gnome'
	export GNOME_DESKTOP_SESSION=1
fi
