#!/bin/bash

# Setup environment for X sessions

# Fix GTK2+
if [[ -f "${HOME}/.gtkrc-2.0" ]]; then
	export GTK2_RC_FILES="${HOME}/.gtkrc-2.0"
fi

# Remove missing accessibility bus messages
export NO_AT_BRIDGE=1

# Set terminal for i3
if which urxvtcd &>/dev/null; then
   export TERMINAL="urxvtcd"
else
	export TERMINAL="urxvt"
fi
# vim: ft=sh
