!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Rofi
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
rofi.color-enabled: true
rofi.color-window: #444444, #888888, #888888
rofi.color-normal: #444444, #dcdcdc, #444444, #5294e2, #f9f9f9
rofi.color-active: #444444, #5294e2, #444444, #5294e2, #f9f9f9
rofi.color-urgent: #d64937, #444444, #d64937, #5294e2, #f9f9f9
rofi.font: Droid Sans 10
rofi.hide-scrollbar: true
rofi.kb-cancel: Escape,Menu
rofi.terminal: i3-sensible-terminal

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Xft
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
