!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Rofi
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
rofi.color-enabled: true
rofi.color-window: #2f343f,#5294e2
rofi.color-normal: #2f343f,#d3dae3,#2f343f,#5294e2,#ffffff
rofi.color-active: #2f343f,#d3dae3,#2f343f,#5294e2,#ffffff
rofi.color-urgent: #d64937,#d3dae3,#d64937,#5294e2,#ffffff
rofi.font: Droid Sans 10
rofi.hide-scrollbar: true
rofi.kb-cancel: Escape,Menu
rofi.terminal: i3-sensible-terminal

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Xft
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
